@charset 'utf-8';

/* ------------ 비전 ------------ */
.vision {
  box-shadow: 0px 0px 30px var(--main-color10);
  padding: 6rem 0 14.2rem 0;
}

.vison-title {
  margin-top: var(--margin-l);
  text-align: center;
  position: relative;
}

.visual-sub-title {
  color: var(--main-color);
  font-weight: var(--font-weight-medium);
}

.vison-title h4 {
  font: 8.2rem/1.1 "Poppins", sans-serif;
  font-size: clamp(4.5rem, 7.5vw, 8.2rem);
  font-weight: var(--font-weight-bold);
  color: var(--main-color);
}

.vison-title p {
  margin: var(--margin-s) auto 0 auto;
  width: 50%;
  word-break: keep-all;
}

@media (max-width: 768px) {
  .vison-title p {
    width: 86%;
  }
}

/* ------------ 목록02 ------------ */
.check {
  margin-top: var(--margin-xl);
}

.check-list {
  margin: var(--margin-l) 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: var(--gap-l);
  flex-shrink: 0;
  overflow-x: auto;
}

.check-list li {
  width: 36.9rem;
  min-width: 33.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--circle-radius);
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: no-repeat 50% / cover;
  position: relative;
  cursor: pointer;
  word-break: keep-all;
  box-shadow: 0px 0px 30px var(--black10);
}

.check-list li:nth-child(1) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s1.png);
}
.check-list li:nth-child(2) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s2.png);
}
.check-list li:nth-child(3) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s3.png);
}
.check-list li:nth-child(4) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_img_21.png);
}

.check-list li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--trans-speed-nomal);
  background: var(--black10);
}

.check-list li:hover::after {
  content: "";
  background: var(--main-color);
}

.check-list li dl {
  position: relative;
  z-index: 1;
}

.check-list li dt {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  color: var(--white100);
  transition: var(--trans-speed-nomal);
  transform: translateY(110%);
}

.check-list li:hover dt {
  color: var(--white100);
  transform: translateY(0);
}

.check-list li dd {
  margin-top: var(--margin-xs);
  transform: translateY(350%);
  color: var(--white70);
  transition: var(--trans-speed-nomal);
}

.check-list li:hover dd {
  transform: translateY(0);
}

@media (max-width: 1800px) {
  .check-list {
    justify-content: flex-start;
  }
}

/* ------------ 목록01 ------------ */
.list {
  margin-top: var(--margin-xl);
}

.list-item {
  margin-top: var(--margin-s);
  display: flex;
  gap: var(--gap-m);
  flex-direction: column;
}

.list-item li {
  width: 100%;
  gap: var(--gap-m);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  border-radius: var(--card-radius);
  word-break: keep-all;
  padding: 3rem;
}

.list-item li figure {
  max-width: 9.3rem;
  min-width: 9.3rem;
  width: 9.3rem;
  aspect-ratio: 1/1;
  border-radius: var(--circle-radius);
  overflow: hidden;
}

.list-txt {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.list-txt strong {
  font-weight: var(--font-weight-semibold);
  color: var(--main-color);
}

.list-txt p {
  font-size: var(--font-m);
}

@media (max-width: 425px) {
  .list-item li {
    flex-direction: column;
  }

  .list-txt {
    text-align: center;
  }
}

/* ------------ CTA ------------ */
.point {
  margin-top: var(--margin-xl);
  position: relative;
}

.point-con {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.point-txt {
  align-self: flex-start;
}

.point-con p {
  margin-top: var(--margin-s);
}

.point-con a {
  margin-top: var(--margin-l);
  background: var(--main-color);
  color: var(--white100);
}

.point-con a:hover {
  color: var(--main-color);
}

.point-con a::after {
  background-image: url(../img/store-ico1.png);
}

.point-con a:hover::after {
  background-image: url(../img/store-ico1-m.png);
}

.point-con .btn-more {
  margin-bottom: var(--margin-m);
}

.point-con .btn-more-item {
  background: var(--white100);
}

.point-pic {
  width: 30.2083vw;
  max-width: 54rem;
  min-width: 36.5rem;
  aspect-ratio: 1/0.931;
  overflow: hidden;
  align-self: flex-end;
}

.point-pic img {
  object-fit: contain;
}

footer {
  margin-top: 0;
}

@media (max-width: 825px) {
  .point-pic {
    display: none;
  }
}
